---
import { Image } from 'astro:assets';
const { key, name, isTop } = Astro.props;
const imgPath = `/imageFile/member_img/${key}.svg`;
const unitId = `memberUnit-${key}`;

import '../styles/css/memberUnit.css';
---

<div
  id={unitId}
  class:list={["memberUnit", "js_modalOpen", {'md_linkPart': isTop}]}
  data-key={key}>
  <div class="slide">
    <div class="imgSet">
      <Image src={imgPath} alt={name} width={500} height={500} class="memberImg" />
      <p class="md_btn md_btn--more">MORE</p>
    </div>
  </div>
</div>

<script>
  import { isMemberModalOpen, currentMember } from '../store/index.js';

  function openMemberModal(key) {
    console.log(key);
    isMemberModalOpen.set(true);
    currentMember.set(key);
  }

  const units = document.querySelectorAll('.memberUnit');
  units.forEach((unit) => {
    unit.addEventListener('click', () => {
      console.log('click modal');
      openMemberModal(unit.dataset.key);
    });
  });
</script>