---
import TagList from '../components/TagList.astro';

const { title, desc, num, slug, tags } = Astro.props;
---


<div class="worksSet js_animeReveal06">
  <a href={`/works/${slug}`} class="linkArea md_linkPart">
    <div class="borderSection borderSection--top"></div>
    <div class="linkAreaWrap">
      <div class="linkAreaTop">
        <div class="label">
          CASE<span class="bold">{num}</span>
        </div>
        {
          tags.length > 0 && <TagList tags={tags} />
        }
      </div>
      <p class="title" set:html={title}></p>
      <div class="imgSection">
        <img src={`/imageFile/works_catch00${num}.svg`} alt={`case${num}`} class="worksCatchImg">
      </div>
    </div>
    <div class="borderSection borderSection--bottom">
      <div class="btnSide">
        <p class="md_btn md_btn--more">MORE</p>
      </div>
    </div>
  </a>
</div>


